.header {
  /* width: 100vw;   */
  position: sticky;
  z-index: 2;
  background: white;
  top: 0;
  padding: 20px 100px;
  background: white;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar{
  display: flex;
  width: 100%;
  justify-content:space-between ;
  flex-direction: row-reverse;
}

.avatar-style {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 50px;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: none;
}

.nav-items Link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.4rem;
  border: 1.5px solid gray;
  padding: 7px;
  border-radius: 5px;
}

.back-btn {
  display: none;
}

.hamburger span {
  background-color: gray;
  width: 2rem;
  height: 2px;
}

@media (max-width: 480px) {
  .hamburger {
    display: flex;
  }

  .hamburger-border-style {
    border: 2.5px solid blue;
    width: 50px;
  }

  .nav-items a {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 8px 0 8px 20px;
    text-decoration: none;
    display: block;
    color: black;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 12px;
    width: 100%;
    align-items: flex-start;
  }

  .nav-items a:hover {
    background-color: blue;
    display: block;
    width: 100%;
  }

  .disappear-nav-items {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  .header {
    padding: 10px 0px;
  }

  .avatar {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 20px;
    flex-direction: row;
  }

  .back-btn {
    display: inline;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
  }
}
